
body {
    font-family: 'Georgia', serif;
    background-image: url('images/fundo_tabuleiro.jpg');
    background-size: cover;
    color: #2c2c2c;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 2.5em;
}
#gameBoard {
    margin-top: 20px;
}
